.templateOperation {
  height: 100%;
  .operationArea {
    background-color: #eeeeee;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: calc( 100% - var(--webMenuAreaWidth) - var(--managementAreaWidth) );
  }
}