:root{
  --headerHeight:60Px;
  --webMenuAreaWidth:75Px;
  --editAreaWidth:328Px;
  --editAreaHeight:560Px;
}

@mixin menuRowSelect{
  color: white;
  background-color: #1f91fc;
  *{
    color: white;
  }
}
