:root{
  --headerHeight:60Px;
  --webMenuAreaWidth:75Px;
  --editAreaWidth:328Px;
  --editAreaHeight:560Px;
  --managementAreaWidth:261Px;
  --tabsHeight:45Px;
}

@mixin menuRowSelect{
  color: white;
  background-color: #1f91fc;
  *{
    color: white;
  }
}

@mixin menuRightLeftCss{
  height: 100%;
  background-color: #fafafa;
  float: left;
}


