.editArea {
  width: var(--editAreaWidth);
  height: var(--editAreaHeight);
  background: url("../../../img/phonewhite.svg") no-repeat;
  background-size: 100% 100%;
  position: relative;
  .operationArea {
    position: absolute;
    top: 37Px;
    left: 4Px;
    height: 486Px;
    width: 320Px;
    background-color: white;
  }
}